:root {
  --main-color: #17a2b8;
}

.text-main {
  color: var(--main-color);
}

body {
  background-color: #24353f;
  font-family: "Titillium Web", sans-serif;
}

.myNav {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.myContent {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}